<?xml version="1.0" encoding="UTF-8"?>
<AutomationConfiguration>
    <AutomationLayers>
        <AutomationLayer>
            <Guid>dc2ee58c48e94441ab2378c9a2918d19</Guid>
            <Name>Header</Name>
            <Objects>
                <Object>
                    <ObjectType>CSV</ObjectType>
                    <ObjectActions>
                        <Action ActionName="Data" CodeSnippet="##Path Name[p1]##,##Block Name (Test Step)[b0]##,~VARIABLE_NAME[1]~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Header" CodeSnippet="Test Case,Test Step,Data&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                        <Action ActionName="Trailer" CodeSnippet="##Path Name[p1]##,##Block Name (Test Step)[b0]##,Expected Results=~VARIABLE_NAME[1]~&#10;" ExcludeJoinBefore="0" ExcludeJoinAfter="0"/>
                    </ObjectActions>
                </Object>
            </Objects>
            <PreviewDetails>
                <RunFileLocation></RunFileLocation>
                <EditLanguage>3</EditLanguage>
                <EditTheme>6</EditTheme>
                <EditorType>0</EditorType>
                <FromFileStructure>False</FromFileStructure>
                <MapFromBlockAttributes/>
            </PreviewDetails>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="csv" fileNameVariable="" fileNamingSystem="0" filePrefix=""/>
                    <MergedSettings fileExtension=".csv" fileNameVariable="" fileNamingSystem="2" filePrefix="CLAIM"/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter>
                    <Header>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <PathHeader>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                    <BlockHeader>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockFooter>
                    <StepJoin>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                </PreviewHeaderFooter>
            </ExportSettings>
            <LayerVariables/>
        </AutomationLayer>
    </AutomationLayers>
</AutomationConfiguration>
