<?xml version="1.0" encoding="UTF-8"?>
<BatchConfig>
    <create_Next_Config>0</create_Next_Config>
    <results_File_Location></results_File_Location>
    <repo_details>
        <tdod_url>http://51.140.29.192:8090/GTService</tdod_url>
        <user>labs@caworld.com</user>
        <password>RUxm5VjJlbJZbEt44dIIrg==</password>
        <current_project>1760</current_project>
        <version>1761</version>
    </repo_details>
    <file_details>
        <file_path>F:/shipped_examples/Coverage/Claim Entry Adjustment and Status.vtf</file_path>
    </file_details>
    <configuration_dir>F:/shipped_examples/Coverage/ARD_testcases.config</configuration_dir>
    <export_dir>F:/shipped_examples/Coverage</export_dir>
    <current_Iteration></current_Iteration>
    <script_Type>Individual</script_Type>
    <layer_settings>
        <layer_setting>
            <layer_id>dc2ee58c48e94441ab2378c9a2918d19</layer_id>
            <ExportSettings>
                <ScriptType>0</ScriptType>
                <FileConfiguration>43</FileConfiguration>
                <ScriptTypeSettings scriptType="0">
                    <IndividualSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                    <MergedSettings fileExtension="" fileNameVariable="" fileNamingSystem="3" filePrefix=""/>
                </ScriptTypeSettings>
                <PreviewHeaderFooter>
                    <Header>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Header>
                    <Footer>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Footer>
                    <Join>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </Join>
                    <PathHeader>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathHeader>
                    <PathFooter>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </PathFooter>
                    <BlockHeader>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockHeader>
                    <BlockFooter>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId>-99</LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </BlockFooter>
                    <StepJoin>
                        <Automation>
                            <ObjectName></ObjectName>
                            <LayerId></LayerId>
                            <ObjectType></ObjectType>
                            <ActionName></ActionName>
                            <OverrideString></OverrideString>
                            <RepeaterValue>1</RepeaterValue>
                            <VariableReferences/>
                            <itemID></itemID>
                            <repoID></repoID>
                            <Source>0</Source>
                        </Automation>
                    </StepJoin>
                </PreviewHeaderFooter>
            </ExportSettings>
            <seperate_scripts>0</seperate_scripts>
        </layer_setting>
    </layer_settings>
</BatchConfig>